@import "../../styles.scss";

.loader-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 5;
}


.loader {
    width: 130px;    
    height: 130px;
    animation: spin 1s linear infinite;

    @include tablet{
        width: 44px;
        height: 44px;
    }

    @include mobile{
        width: 22px;
        height: 22px;
    }

     img{
        width: 100%;
        height: 100%;
     }
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
