@import "../../styles.scss";

.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);

    .auth-page-header {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1px;
        color: #ffffff;
        margin-top: 180px;
        margin-bottom: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include iPad-portrate {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.1px;
            margin-top: 16px;
            margin-bottom: 12px;
        }
    }

    .form-container {
        width: 528px;
        height: 466px;
        background: #ffffff;
        border-radius: 16px;
        padding: 48px 56px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 52px;

        @include iPad-portrate {
            width: 288px;
            // height: 456px;
            left: 16px;
            top: 56px;
            border-radius: 16px;
            padding: 24px 16px 27px 16px;
        }

        .form-container-title {
            width: 100%;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.1px;
            color: #363636;
            margin-bottom: 32px;

        }

        .enter-block {
            width: 100%;           
            display: flex;
            align-items: center;
            justify-content: flex-start;           

            @include iPad-portrate{
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0;
                gap: 7px;
            }

            .enter-block-title {
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.1px;
                color: #727272;
                margin-right: 16px;
            }

            .enter-block-button {
                width: 161px;               
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                background-color: transparent;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                color: #363636;
                border: none;
                 
                .enter-button-value{
                    display: inline-block;
                    margin-right: 15px;
                }

                &:focus {
                    border: none;
                }

                &:active {
                    border: none;
                }
            }
        }
    }
}
