@import "../../styles.scss";
@import "../leftbar/leftbar.scss";

@mixin gradient-line($angl: 231.58deg, $color: #f83600 -53.35%, $amount: #f9d423 297.76%) {
    color: #f83600;
    background: -webkit-linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}

/*------BURGER MENU-----*/

.leftbar-burger-menu {
    @extend .leftbar;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    top: 90px;
    z-index: 10;
    max-width: 502px;
    width: 100%;
    background: #f9f9fa;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
        0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    max-height: 100vh;
    overflow-y: auto;

    .burger-showcase {
        margin: 32px 5px 0 32px;
    }

    &.visible {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    &.closeBookLsts {
        height: 400px;
        overflow: hidden;
    }

    .header-of-leftbar {
        margin-bottom: 0px;
        padding-right: 10px;
    }

    .header-of-leftbar.simple {
        @extend h5;
        color: #363636;
        background: transparent;
        -webkit-text-fill-color: #363636;
        display: inline-block;
        border-bottom: none;
        border-image: none;

        .icon-open-close-allbooksMenu {
            display: none;
        }
    }

    a {
        width: 90%;
        margin: 32px 0px 0px 32px;
    }

    .terms-block,
    .contract-block,
    .profile-block,
    .exit-block {
        max-width: 255px;
        width: 100%;
        margin: 16px 0 0 32px;

        h5 {
            margin: 0;
        }

        .active-link {
            h5 {
                padding-bottom: 9px;
                background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-emphasis-color: transparent;
                border-bottom: 2px solid transparent;
                border-image: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
                border-image-slice: 1;
            }
        }
    }

    .profile-section-left-menu {
        margin-top: 32px;

        .profile-block {
            margin: 0 32px;
        }
        .exit-block {
            margin-top: 30px;
        }
    }

    .categories-list {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        gap: 16px;
        transition: 0.3s all;
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;

        &:first-child {
            margin-top: 9px;
        }

        .categories-list.closed {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0s, visibility 0s linear 0.3s;
            z-index: -1;
            height: 0px;
        }

        .category-item {
            width: 100%;
            margin-bottom: 0;
        }
        .category-item-link {
            margin-top: 2px;
        }

        .category-item-link {
            &:first-child {
                .category-item {
                    margin-top: 9px;
                }
            }
        }
    }

    @include landscape {
        max-width: 288px;

        .header-of-leftbar {
            padding-right: 0px;
        }

        a {
            max-width: 246px;
            width: 100%;
            margin: 32px 0 0px 16px;
        }
        .categories-list {
            padding-left: 20px;
            gap: 15px;
        }
        .terms-block,
        .contract-block {
            margin-left: 16px;
            margin-top: 20px;
        }

        .profile-section-left-menu {
            margin-top: 52px;

            .profile-block,
            .exit-block {
                margin-left: 16px;
            }
        }
    }
}
