.input-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    background: #f9f9fa;

    .form-input {
        width: 100%;
        background: #f9f9fa;
        border-radius: 4px;
        min-height: 56px;
        border-bottom: 1px solid #bfc4c9;
        padding: 19px 12px;
        outline: none;        
    }

    .error {
        width: 100%;
        background: #f9f9fa;
        border-radius: 4px;
        min-height: 56px;
        border-bottom: 1px solid #F42C4F;
        padding: 19px 12px;
        outline: none;
    }

    .form-label {
        position: absolute;
        pointer-events: none;
        left: 15px;
        right: 15px;
        top: 30%;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.2s ease all;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #363636; 
        pointer-events: none;      
    }

    .form-input:focus + .form-label,
    .form-input:not(:placeholder-shown) + .form-label,
    .form-input:not(:focus):invalid~.form-label
     {
        top: 2px;
        font-size: 10px;
    }
    
    .show-password-icon {
        position: absolute;
        top: 30%;
        right: 5%;
        z-index: 1;
    }

    .error-message-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #F42C4F;
        padding-left: 5px;
        background: white;
    }

    .error-message-text-matched{
         font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #363636;
        padding-left: 5px;
        background: white;

        &.full{
            color: #F42C4F;
            background: white;
        }
    }
}
