@import "../../styles.scss";

$imgMainWidth: 445px;
$imgTabletWidth: 136px;
$imgMainHeigt: 593px;

.book-page {
    width: 100%;

    .book-page-header {
        width: 100%;
        height: 64px;
        background-color: #f9f9fa;
        margin-top: -20px;
        margin-bottom: 42px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            height: 88px;
            padding: 20px, 64px, 20px, 64px;
            margin-bottom: 48px;
            margin-top: -30px;
        }

        @include mobile {
            height: 92px;
            margin: 0;
        }

        .header-container {
            max-width: 1110px;
            width: 100%;
            margin: 0 50px;
            height: 100%;
            padding: 20px 16px 20px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #a7a7a7;

            @include tablet {
                max-width: 640px;
                width: 100%;
                margin: 0 25px;
            }

            @include mobile {
                max-width: 288px;
                width: 100%;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                margin: 0 16px;
            }

            .book-category-name {
                span {
                    display: inline-block;
                    margin: 0 8px;
                }
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        justify-content: center;

        .container {
            max-width: 1110px;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 50px;

            @include tablet {
                max-width: 640px;
                width: 100%;
                margin: 0 25px;
            }

            @include mobile {
                max-width: 288px;
                width: 100%;
                margin: 0 16px;
            }
        }
    }

    .book-status-container {
        width: 100%;
        display: grid;
        grid: template columns 40% auto;
        grid-template-areas:
            "nav header"
            "nav article";

        gap: 30px;
        margin-bottom: 42px;

        @include tablet {
            grid-template-areas:
                "nav header"
                "article article";
            gap: 32px;
        }

        @media (max-width: 505px) {
            grid-template-areas:
                "nav"
                "header"
                "article";
            gap: 16px;
            justify-items: center;
            align-items: center;
        }
    }

    .img-container {
        max-width: 445px;
        min-width: 445px;
        width: 100%;
        height: 712px;
        border-radius: 3px;
        grid-area: nav;

        @include tablet {
            max-width: 136px;
            min-width: 136px;
            width: 100%;
            height: 198px;
            border-radius: 3px;
        }

        @media (max-width: 505px) {
            max-width: 200px;
            width: 100%;
            height: 259px;
            border-radius: 3px;
        }

        @include mobile {
            height: 259px;
            max-width: 188px;
            width: 100%;
            border-radius: 10px;
            margin-top: 20px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .books-description {
        max-width: 635px;
        width: 100%;
        grid-area: header;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 100%;
        }

        @media (max-width: 505px) {
            width: 100%;
        }

        .books-title {
            @extend h3;
            margin-bottom: 24px;

            @include tablet {
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 28px;
            }

            @media (max-width: 505px) {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 8px;
            }

            @include mobile {
                font-weight: 700;
                font-size: 17px;
                line-height: 28px;
                margin-bottom: 8px;
            }
        }

        .books-author {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #a7a7a7;
            margin-bottom: 32px;

            @include tablet {
                margin-bottom: 27px;
            }

            @include mobile {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 42px;
            }
        }

        .booked-button-section {
            width: 350px;
            margin-bottom: 62px;

            @include tablet {
                width: 302px;
                margin-bottom: 47px;
            }

            @include mobile {
                max-width: 288px;
                width: 100%;
            }

            button {
                @include button-primary;
                height: 52px;
                letter-spacing: 0.2px;
                text-transform: uppercase;

                @include mobile {
                    width: 288px;
                    border-radius: 20px;
                }
            }
        }
    }

    .about-book {
        width: 100%;
        grid-area: article;

        @include tablet {
            display: flex;
            max-width: 640px;
            width: 100%;
            flex-direction: column;
        }

        @include mobile {
            max-width: 288px;
        }

        .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.1px;
            color: #363636;
            margin-bottom: 32px;

            @include mobile {
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
            }
        }

        p {
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #363636;

            @include mobile {
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .rating-section {
        width: 100%;
        margin-bottom: 62px;

        @include tablet {
            margin-bottom: 47px;
        }

        @include mobile {
            margin-bottom: 14px;
        }

        .title {
            @extend h5;
            max-width: 350px;
            width: 100%;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);
        }

        .rating-container {
            display: flex;
            max-width: 200px;
            gap: 26px;

            .rating-count {
                @extend h5;
            }

            @include mobile {
                gap: 100px;
            }
        }
    }

    .detailed-information {
        width: 100%;
        margin-bottom: 32px;

        @include tablet {
            margin-bottom: 0;
        }

        @include mobile {
            margin-bottom: 60px;
        }

        .title {
            @extend h5;
            max-width: 350px;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);
        }
    }

    .rewiews {
        max-width: 750px;
        width: 100%;

        .title {
            @extend h5;
            max-width: 350px;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(235, 235, 235, 1);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include mobile {
                padding-bottom: 7px;
            }

            .switch-icon {
                display: inline-flex;
                margin-left: 24px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .rewiews-count {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #a7a7a7;
            margin-left: 6px;
        }

        .rewiews-list {
            width: 100%;
            height: 100%;

            .comment-content {
                padding-top: 16px;
                margin-bottom: 46px;

                @include mobile {
                    margin-bottom: 4px;
                }

                .user-logo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 24px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #727272;
                    margin-bottom: 18px;

                    .user-info {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        justify-content: flex-start;

                        span {
                            display: inline-block;
                            text-align: start;
                        }

                        @include mobile {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;
                        }
                    }
                }

                .comment-text {
                    max-width: 730px;
                    width: 100%;

                    @include mobile {
                        max-width: 288px;
                        width: 100%;
                    }
                }
            }
        }

        .rewiews-list.closed {
            display: none;
        }
    }

    .estimation-block {
        max-width: 350px;
        width: 100%;
        margin-bottom: 32px;

        .estimate-button {
            @include button-primary;
            letter-spacing: 0.2px;
            text-transform: uppercase;
        }

        @include tablet {
            max-width: 100%;
            margin-bottom: 52px;
        }

        @include mobile {
            margin-bottom: 22px;
        }
    }
}
